@page
@model IndexModel
@{
    ViewData["Title"] = "Software Developer";
}

	<!-- +++++ Welcome Section +++++ -->
	<div class="ww" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<img src="~/images/profile.png" alt="Gustavo Rodriguez Baldera" class="profile-picture">
				<h1>Hi, I am Gustavo!</h1>
				<p>I'm a Software Developer from Santiago, Dominican Republic. I have been working with the Web since 2003 and recently I'm focusing on backend development.</p>
				<p>I have worked on several projects using different programming languages, mostly for private companies and other personal ones, which some of them you can check on the work section. Also I love open source so be sure to check <a href="https://github.com/gbaldera" target="_blank">my Github page</a> for some projects I have shared or check out <a href="http://do.linkedin.com/in/gbaldera/" target="_blank">my linkedin page</a> for more references about me.</p>
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div> <!-- /container -->	
	</div>
	
	<!-- +++++ Projects Section +++++ -->	
	<div class="container pt" id="work">
		<div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port01.jpg" alt="" /></a>
				<p>APE</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port02.jpg" alt="" /></a>
				<p>RAIDERS</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port03.jpg" alt="" /></a>
				<p>VIKINGS</p>
			</div>
		</div><!-- /row -->
		<div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port04.jpg" alt="" /></a>
				<p>YODA</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port05.jpg" alt="" /></a>
				<p>EMPERORS</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port06.jpg" alt="" /></a>
				<p>CHIEFS</p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->

	<!-- +++++ Contact Section +++++ -->
	<div class="grey-back" id="contact">
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>CONTACT ME</h3>
				<hr>
			</div>
		</div>
		<div class="row mt">	
			<div class="col-lg-8 col-lg-offset-2">
			    <form role="form" method="post">
			        <div asp-validation-summary="All"></div>
			        <div class="form-group">
			            <input type="text" class="form-control" id="Name" name="Name" placeholder="Your Name">
			            <br>
			        </div>
			        <div class="form-group">
			            <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter email">
			            <br>
			        </div>
			        <div class="form-group">
			            <input type="url" class="form-control" id="Website" name="Website" placeholder="Website">
			            <br>
			        </div>
			        <textarea class="form-control" rows="6" id="Message" name="Message" placeholder="Message"></textarea>
			        <br>
			        <button type="submit" class="btn btn-info">SEND</button>
			    </form>    			
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
	</div>

